@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url( '../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black Italic';
  src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold Italic';
  src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Italic';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light Italic';
  src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium Italic';
  src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Thin';
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Thin Italic';
  src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

.roboto-black {
  font-family: 'Roboto Black', sans-serif;
}

.roboto-black-italic {
  font-family: 'Roboto Black Italic', sans-serif;
}

.roboto-bold {
  font-family: 'Roboto Bold', sans-serif;
}

.roboto-bold-italic {
  font-family: 'Roboto Bold Italic', sans-serif;
}

.roboto-italic {
  font-family: 'Roboto Italic', sans-serif;
}

.roboto-light {
  font-family: 'Roboto Light', sans-serif;
}

.roboto-light-italic {
  font-family: 'Roboto Light Italic', sans-serif;
}

.roboto-medium {
  font-family: 'Roboto Medium', sans-serif;
}

.roboto-medium-italic {
  font-family: 'Roboto Medium Italic', sans-serif;
}

.roboto-regular {
  font-family: 'Roboto Regular', sans-serif;
}

.roboto-thin {
  font-family: 'Roboto Thin', sans-serif;
}

.roboto-thin-italic {
  font-family: 'Roboto Thin Italic', sans-serif;
}